    </main>

    <footer class="site-footer">
      <div class="container">
        <p>&copy; 2025 Portal de Notícias - Exemplo</p>
      </div>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
